<div class="container">
    <h1 class="h2">Carrinnho de Compras</h1>
    
    <div class="row border-bottom mt-5 pb-2">
        <div class="col"><strong>Nome</strong></div>
        <div class="col-2 text-center"><strong class="d-block d-md-none">Qtd</strong><strong class="d-none d-md-block">Quantidade</strong></div>
        <div class="col-4 text-right"><strong>Total</strong></div>
        <div class="col-1"></div>
    </div>
    
    <div class="row border-bottom pt-3 pb-2 align-items-center" ng-repeat="item in carrinho.itens">
        <div class="col">{{ item.produto.nome }}</div>
        <div class="col-2 text-center">{{ item.quantidade }}</div>
        <div class="col-4 text-right">{{ item.total() | currency:'R$':2 }}</div>
        <a href="#!/carrinho" class="col-1 btn text-danger" ng-click="removeFromCart(item.produto)"><i class="fas fa-times"></i></a>
        <!-- <button type="button" class="col-1 btn text-danger" data-toggle="modal" data-target="#carrinhoModal" data-whatever="item"><i class="fas fa-times"></i></button> -->
    </div>
    
    <div class="row mt-3 mb-3">
        <div class="col"><strong>Total</strong></div>
        <div class="col text-right"><strong>{{ carrinho.total() | currency:'R$':2 }}</strong></div>
        <div class="col-1"></div>
    </div>

    <div class="row">
        <div class="col-md-4 mr-auto mb-2">
            <a href="#!/carrinho" class="btn btn-block btn-danger" ng-if="carrinho.itens.length > 0" ng-click="clearCart()">Limpar Carrinho</a>
            <a href="#!/carrinho" class="btn btn-block btn-danger disabled" ng-if="carrinho.itens.length <= 0">Limpar Carrinho</a>
        </div>

        <div class="col-md-4 ml-auto mb-2">
            <a href="#!/carrinho" class="btn btn-block btn-success" ng-if="carrinho.itens.length > 0" ui-sref="finaliza" >Finalizar Compra</a>
            <a href="#!/carrinho" class="btn btn-block btn-success disabled" ng-if="carrinho.itens.length <= 0">Finalizar Compra</a>
        </div>
    </div>    
</div>