<div class="container">
    <h1 class="h2">Carrinnho de Compras</h1>
    
    <div class="row border-bottom mt-5 pb-2">
        <div class="col"><strong>Nome</strong></div>
        <div class="col-2 text-center"><strong class="d-block d-md-none">Qtd</strong><strong class="d-none d-md-block">Quantidade</strong></div>
        <div class="col-4 text-right"><strong>Total</strong></div>
        <div class="col-1"></div>
    </div>
    
    <div class="row border-bottom pt-3 pb-2 align-items-center" ng-repeat="item in cart">
        <div class="col">{{ item.produto.nome }}</div>
        <div class="col-2 text-center">{{ item.quantidade }}</div>
        <div class="col-4 text-right">{{ item.totalPreco() | currency }}</div>
        <a href="#!/carrinho" class="col-1 btn text-danger" ng-click="removeFromCart(item)"><i class="fas fa-times"></i></a>
    </div>
    
    <div class="row mt-3 mb-3">
        <div class="col offset-1"><strong>Total</strong></div>
        <div class="col text-right"><strong>{{ carrinhoTotalPreco() | currency }}</strong></div>
        <div class="col-1"></div>
    </div>

    <div class="row">
        <div class="col-md-4 mr-auto mb-2">
            <a href="#!/carrinho" class="btn btn-block btn-danger" ng-if="cart.length > 0" ng-click="clearCart()">Limpar Carrinho</a>
            <a href="#!/carrinho" class="btn btn-block btn-danger disabled" ng-if="cart.length <= 0">Limpar Carrinho</a>
        </div>

        <div class="col-md-4 ml-auto mb-2">
            <a href="#!/carrinho" class="btn btn-block btn-success" ng-if="cart.length > 0" ng-click="clearCart()">Finalizar Compra</a>
            <a href="#!/carrinho" class="btn btn-block btn-success disabled" ng-if="cart.length <= 0">Finalizar Compra</a>
        </div>
    </div>
    
</div>