<div class="container">
    <h1 class="h2 mt-4">Finalize a Compra</h1>
    
    <div class="row">
        <div class="col-12 col-md-8">
            <form method="post" data-th-action="@{/comercio/entrega}" action="#" id="entrega">
            	<input type="hidden" name="cartId" ng-value="carrinho.id" />
            	<input type="hidden" name="pessoaId" ng-value="pessoa.id" />
            
                <h2 class="h4 mt-3">Endereço</h2>
                <div class="form-group">
                    <label for="endereco">Selecione o endereço de entrega</label>
                    <select class="form-control form-control-lg" id="endereco" name="enderecoId" ng-model="ender" ng-change="calcFrete(ender)">
                        <option></option>
                        <option ng-repeat="endereco in pessoa.enderecos" value="{{endereco.id}}">{{endereco.rua}}</option>
                    </select>
                    
                </div>

                <div class="h4">
                    <label for="frete">Frete</label>
                    <strong>{{ frete | currency:"R$":2 }}</strong>
                    <input type="hidden" value="{{frete}}" name="frete" id="frete">
                </div>

                <h2 class="h4 mt-3">Pagamento</h2>
                <div class="form-group">
                    <label for="pagamento">Selecione a forma de pagamento</label>
                    <select class="form-control form-control-lg" id="pagamento" ng-model="pagamento" name="pagamento">
                        <option>Pagar na entrega</option>
                        <option>Cartão de crédito</option>
                        <option>Cartão de débito</option>
                        <option>Boleto</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="cartao">Número do Cartão</label>
                    <input type="text" class="form-control form-control-lg" id="cartao" name="cartao" ng-disabled="pagamento == 'Boleto' || pagamento == 'Pagar na entrega'" placeholder="Cartão">
                </div>

                <button type="button" class="btn btn-primary" ng-click="finalizarCompra()">Finalizar Compra</button>
            </form>
        </div>
        
        <div class="col-12 col-md-4">
            <div class="card">
                
                <div class="card-body">
                    <div class="card-title h4">
                        Carrinho
                    </div>
                    <div class="card-text">
                        Total: <span>R{{ carrinhoTotalPreco() | currency }}</span>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    
</div>