<div class="container">
    <h1 class="h2 mt-4">Recibo de Compra</h1>

    <div class="row border-bottom mt-5 pb-2">
        <div class="col"><strong>Nome</strong></div>
        <div class="col-2 text-center">
            <strong class="d-block d-md-none">Qtd</strong>
            <strong class="d-none d-md-block">Quantidade</strong>
        </div>
        <div class="col-4 text-right"><strong>Preço</strong></div>
    </div>

    <div class="row pt-3 pb-2 align-items-center" ng-repeat="">
        <div class="col" data-th-text="${pv.produto.nome}"></div>
        <div class="col-2 text-center" data-th-text="${pv.quantidade}"></div>
        <div class="col-4 text-right">
            R$<span data-th-text="${#numbers.formatDecimal(pv.precoTotal, 1, 'POINT', 2, 'COMMA')}"></span>
        </div>
    </div>

    <div class="row border-top border-bottom py-3 my-3">
        <div class="col">Frete</div>
        <div class="col text-right">
            R$<span data-th-text="${#numbers.formatDecimal(venda.frete, 1, 'POINT', 2, 'COMMA')}"></span>
        </div>
    </div>

    <div class="row mt-3 mb-3">
        <div class="col"><strong>Subtotal</strong></div>
        <div class="col text-right">
            <strong>
                R$<span data-th-text="${#numbers.formatDecimal(venda.total, 1, 'POINT', 2, 'COMMA')}"></span>
            </strong>
        </div>
    </div>

    <p>
        Forma de Pagamento: <span data-th-text="${venda.pagamento}"></span>
    </p>

    <p>
        Comprovante: <span data-th-text="${venda.comprovante}"></span>
    </p>

    <p>
        Código de Rastreamento: <span data-th-text="${venda.codigoRastreamento}"></span>
    </p>
</div>