<div class="container">
    <h1 class="h2">Detalhes</h1>
    <div class="row">
        <div class="col-12 col-md-6">
            <img class="img-fluid" style="width: 100%; height: auto; display: block;"  ng-src="{{ produto.imagem }}" ng-alt="Imagem {{ produto.nome }}" />
        </div>
        <div class="col-12 col-md-6">
            <dl>
                <dt>Nome do produto</dt>
                <dd>{{ produto.nome }}</dd>
                
                <dt>Descrição</dt>
                <div id="prod_descricao" class="mb-2"></div>
                
                <dt>Fabricante</dt>
                <dd>{{ produto.fabricante }}</dd>
                
                <dt>Código</dt>
                <dd>{{ produto.codigo }}</dd>
                
                <dt>Categoria</dt>
                <dd>{{ produto.categoria.nome }}</dd>
                
                <dt>Preço</dt>
                <dd ng-hide="produto.promocao">{{ produto.preco | currency:'R$':2 }}</dd>
                <dd ng-show="produto.promocao" class="mb-0"><small><del>{{ produto.preco | currency:'R$':2 }}</del></small> </dd>
                <dd ng-show="produto.promocao">{{ produto.promocao | currency:'R$':2 }} </dd>
            </dl>
        </div>
    </div>
    
    <script src="/js/markdown-show.js" data-th-src="@{/js/markdown-show.js}"></script>
</div>

