<div class="contaier">
    
    <form>
        <input type="hidden" ng-model="pessoa.id" />        

        <div class="form-group">
            <label for="nome">Nome:</label>
            <input type="text" class="form-control" id="nome" placeholder="Nome" ng-model="pessoa.nome" />
        </div>

        <div class="form-group">
            <label for="documento">Documento:</label>
            <input type="number" class="form-control" id="documento" placeholder="Documento" ng-model="pessoa.documento" />
        </div>

        <div class="form-group">
            <label for="email">E-Mail:</label>
            <input type="email" class="form-control" id="email" placeholder="E-Mail" ng-model="pessoa.email" />
        </div>

        <div class="form-group">
            <label for="senha">Senha:</label>
            <input type="password" class="form-control" id="senha" placeholder="Senha" ng-model="pessoa.senha" />
        </div>

        <button type="button" class="btn btn-success" ng-click="criaPessoa(pessoa)">Salvar</button>
    </form>
</div>
