<!DOCTYPE html>
<html lang="pt-br" ng-app="corcovado" ng-controller="product">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Corcovado - Lista de Produtos</title>
        <th:block data-th-replace="~{head}" />
    </head>
    <body>
        <header data-th-replace="~{ngheader}"></header>

        <main class="container-fluid main" ui-view></main>

        <footer data-th-replace="~{footer}"></footer>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.0/angular.min.js" integrity="sha256-wdtborJwJIq757II/dxJpmirvByOLcX8T5FdtTaMR+A=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/1.0.18/angular-ui-router.min.js" integrity="sha256-e24exXKZfsXoS0iJELk9B+rTDAJ1V5/AgeMtEesDNsk=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-i18n/1.7.1/angular-locale_pt-br.min.js" integrity="sha256-XQi93DQhkQXjNO3+maSyu0INwuOLB0luKbVTTyPKYQA=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/markdown-it/8.4.1/markdown-it.min.js" integrity="sha256-xPwMubQT+EaVMOh04FjyG49sNwJmmGYpnhWNh4osD5w=" crossorigin="anonymous"></script>
        <script src="/js/comercio.js" data-th-src="@{/js/comercio.js}"></script>
    </body>
</html>
