<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Corcovado - Lista de Endereços</title>
        <th:block data-th-replace="~{head}" />
    </head>
    <body>
        <header data-th-replace="~{header}"></header>

        <main class="container main">
            <div class="rounded box-shadow px-3 py-3 mt-4 mb-3">
                <div class="row no-gutters justify-content-between mx-3 pt-1 pb-2 mb-0">
                    <h1 class="h4 col-12 col-md-10">Lista de Endereços</h1>
                    <div class="col-12 col-md-2 text-right">
                      <a href="#" data-th-href="@{/comercio/enderecos/new}" class="btn btn-outline-info" >Novo</a>
                    </div>
                </div>

                <div class="pb-2 mx-3" data-th-each="endereco : ${enderecos}">
                    <div class="row no-gutters border-top border-gray pt-3 pb-1 mb-0">
                        <div class="col-12 col-md-10">
                            <div data-th-text="${endereco.enderecoCurto}"></div>
                            <span class="text-muted" data-th-text="${endereco.cep}"></span>
                        </div>
                        <div class="col-12 col-md-2 text-right">
                            <a class="btn btn-outline-info" href="#" data-th-href="@{/comercio/enderecos/{id}/edit(id=${endereco.id})}">
                                <i class="fas fa-pencil-alt"></i>   
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </main>

        <footer data-th-replace="~{footer}"></footer>
    </body>
</html>
