<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Corcovado - Lista de Produtos</title>
        <th:block data-th-replace="~{head}" />
    </head>
    <body>
        <header data-th-replace="~{header}"></header>
        <main class="container-fluid main">
            <div class="container">
                <h1 class="h2 mt-4">Recibo de Compra</h1>

                <div class="row border-bottom mt-5 pb-2">
                    <div class="col"><strong>Nome</strong></div>
                    <div class="col-2 text-center">
                        <strong class="d-block d-md-none">Qtd</strong>
                        <strong class="d-none d-md-block">Quantidade</strong>
                    </div>
                    <div class="col-4 text-right"><strong>Preço</strong></div>
                </div>

                <div class="row pt-3 pb-2 align-items-center" data-th-each="pv : ${venda.produtoVendidos}">
                    <div class="col" data-th-text="${pv.produto.nome}"></div>
                    <div class="col-2 text-center" data-th-text="${pv.quantidade}"></div>
                    <div class="col-4 text-right">
                        R$<span data-th-text="${#numbers.formatCurrency(pv.precoTotal)}"></span>
                    </div>
                </div>

                <div class="row border-top border-bottom py-3 my-3">
                    <div class="col">Frete</div>
                    <div class="col text-right">
                        R$<span data-th-text="${#numbers.formatCurrency(venda.frete)}"></span>
                    </div>
                </div>

                <div class="row mt-3 mb-3">
                    <div class="col"><strong>Subtotal</strong></div>
                    <div class="col text-right">
                        <strong>
                            R$<span data-th-text="${#numbers.formatCurrency(venda.total)}"></span>
                        </strong>
                    </div>
                </div>

                <div>
                    <strong>Comprovante: </strong><span data-th-text="${venda.comprovante}"></span>
                </div>

                <div>
                    <strong>Código de Rastreamento: </strong><span data-th-text="${venda.codigoRastreamento}"></span>
                </div>

                <div class="mt-2">
                    <strong>Forma de Pagamento: </strong><span data-th-text="${venda.pagamento.nome}"></span>
                </div>

                <div>
                    <strong>Prazo de Entrega: </strong><span data-th-text="${#dates.format(venda.prazoEntrega, 'dd/MM/yyyy')}"></span>
                </div>

                <div>
                    <strong>Endereço de Entrega: </strong><span data-th-text="${venda.endereco.enderecoCompleto}"></span>
                </div>
            </div>
        </main>
        <footer data-th-replace="~{footer}"></footer>
    </body>
</html>
