<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Corcovado - Formulário Pessoa</title>
        <th:block data-th-replace="~{head}" />
    </head>
    <body>
        <header data-th-replace="~{header}"></header>
        <main class="container main">
            <h1 class="h3 mt-3">Formulário de Pessoa</h1>
            <div class="lead mb-2" data-th-text="${action} == 'create'? 'Criar novo Pessoa' : 'Alterar Pessoa'"></div>
            <form data-th-action="@{/pessoas/{act}(act = ${action})}" method="post" data-th-object="${pessoa}">
                <input type="hidden" data-th-field="*{id}" />
                <p class="invalid-feedback" data-th-if="${#fields.hasErrors('id')}" data-th-errors="*{id}"></p>
                <input type="hidden" data-th-field="*{createdAt}" />
                <p class="invalid-feedback" data-th-if="${#fields.hasErrors('createdAt')}" data-th-errors="*{createdAt}"></p>
                <!-- <input type="hidden" data-th-each="endereco, enderecoStat : ${produto.enderecos}" data-th-field="*{enderecos[__${enderecoStat.index}__].id}" /> -->

                <div class="form-group">
                    <label for="nome">Nome:</label>
                    <input type="text" class="form-control" placeholder="Nome" data-th-field="*{nome}" />
                    <p class="invalid-feedback" data-th-if="${#fields.hasErrors('nome')}" data-th-errors="*{nome}"></p>
                    
                </div>

                <div class="form-group">
                    <label for="documento">Documento:</label>
                    <input type="number" class="form-control" placeholder="Documento" data-th-field="*{documento}" />
                    <p class="invalid-feedback" data-th-if="${#fields.hasErrors('documento')}" data-th-errors="*{documento}"></p>
                </div>

                <div class="form-group">
                    <label for="email">E-Mail:</label>
                    <input type="email" class="form-control" placeholder="E-mail" data-th-field="*{email}" />
                    <p class="invalid-feedback" data-th-if="${#fields.hasErrors('email')}" data-th-errors="*{email}"></p>
                </div>
               
                <div class="form-group">
                    <label for="papeis">Papeis:</label>
                    <select class="form-control" data-th-field="*{papeis}" multiple>
                        <option data-th-each="papel : ${papeis}" data-th-value="${papel.id}" data-th-text="${papel.nome}"></option>
                    </select>
                    <p class="invalid-feedback" data-th-if="${#fields.hasErrors('papeis')}" data-th-errors="*{papeis}"></p>
                </div>

                <div class="row justify-content-between align-items-center">
                    <span class="col-12 order-last col-md-4 order-md-first" data-th-switch="${pessoa.id}">
                        <a class="btn" data-th-case="0" href="#" data-th-href="@{/pessoas}">Voltar</a>
                        <a class="btn" data-th-case="*" href="#" data-th-href="@{/pessoas/{id}(id = ${pessoa.id})}">Voltar</a>
                    </span>
                    <div class="col-12 order-first col-md-4 order-md-last text-right">
                        <button class="btn btn-success" type="submit">Salvar</button>
                    </div>
                </div>
            </form>
        </main>
        <footer data-th-replace="~{footer}"></footer>
    </body>
</html>
