<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Corcovado - Detalhes Pessoa</title>
        <th:block data-th-replace="~{head}" />
    </head>
    <body>
        <header data-th-replace="~{header}"></header>
        <main class="container main">
            <div class="row align-items-center justify-content-between">
                <h1 class="h2 mt-4 col-12 col-md-9" >Pessoa</h1>
                <div class="col-12 col-md-3 text-right">
                    <form class="d-inline-block" action="#" data-th-action="@{/pessoas/{id}/destroy(id = ${pessoa.id})}" method="post">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                    <a href="#" data-th-href="@{/pessoas/{id}/edit(id = ${pessoa.id})}" class="btn btn-secondary">Edit</a>
                </div>
            </div>
            
            <p class="mt-3 mb-2">
                <strong>Nome:</strong><br>
                <span data-th-text="${pessoa.nome}"></span>
            </p>
            
            <p class="mt-3 mb-2">
                <strong>Documento:</strong><br>
                <span data-th-text="${pessoa.documento}"></span>
            </p>
            
            <p class="mt-3 mb-2">
                <strong>E-mail:</strong><br>
                <span data-th-text="${pessoa.email}"></span>
            </p>
            
            <div class="mt-3 mb-2">
                <strong>Papeis:</strong><br>
                <ul class="list-unstyled">
                    <li data-th-each="papel : ${pessoa.papeis}">
                        <span data-th-text="${papel.nome}"></span>
                    </li>
                </ul>
            </div>
            
            <div class="mt-3 mb-2">
                <strong>Endereços:</strong><br>
                <ul class="list-unstyled">
                    <li data-th-each="endereco : ${pessoa.enderecos}">
                        <span data-th-text="${endereco.rua}"></span> - <span data-th-text="${endereco.numero}"></span>
                    </li>
                </ul>
                <a href="#" data-th-href="@{/pessoas/{pessoaId}/enderecos(pessoaId = ${pessoa.id})}" class="btn btn-primary">Endereços</a>
            </div>
            
            <a class="btn" href="#" data-th-href="@{/pessoas}">Voltar</a>
        </main>
        <footer data-th-replace="~{footer}"></footer>
    </body>
</html>
