<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Corcovado - Detalhes Endereço</title>
        <th:block data-th-replace="~{head}" />
    </head>
    <body>
        <header data-th-replace="~{header}"></header>
        <main class="container main">
            <div class="row align-items-center justify-content-between">
                <h1 class="h2 mt-4 col-12 col-md-9" >Endereço</h1>
                <div class="col-12 col-md-3 text-right">
                    <form class="d-inline-block" action="#" data-th-action="@{/pessoas/{pid}/enderecos/{id}/destroy(pid = ${endereco.pessoa.id}, id = ${endereco.id})}" method="post">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                    <a href="#" data-th-href="@{/pessoas/{pid}/enderecos/{id}/edit(pid = ${endereco.pessoa.id}, id = ${endereco.id})}" class="btn btn-secondary">Edit</a>
                </div>
            </div>
            
            <p class="mt-3 mb-2 text-muted">
                <strong>Nome da Pessoa:</strong><br>
                <span data-th-text="${endereco.pessoa.nome}"></span>
            </p>
            
            <p class="mt-3 mb-2 text-muted">
                <strong>Documento da Pessoa:</strong><br>
                <span data-th-text="${endereco.pessoa.documento}"></span>
            </p>
            
            <p class="mt-3 mb-2">
                <strong>Rua:</strong><br>
                <span data-th-text="${endereco.rua}"></span>
            </p>
            
            <p class="mt-3 mb-2">
                <strong>Número:</strong><br>
                <span data-th-text="${endereco.numero}"></span>
            </p>
            
            <p class="mt-3 mb-2">
                <strong>Bairro:</strong><br>
                <span data-th-text="${endereco.bairro}"></span>
            </p>
            
            <p class="mt-3 mb-2">
                <strong>Cidade:</strong><br>
                <span data-th-text="${endereco.cidade}"></span>
            </p>
            
            <p class="mt-3 mb-2">
                <strong>Estado:</strong><br>
                <span data-th-text="${endereco.estado}"></span>
            </p>
            
            <p class="mt-3 mb-2">
                <strong>CEP:</strong><br>
                <span data-th-text="${endereco.cep}"></span>
            </p>
            
            <p class="mt-3 mb-2">
                <strong>Complemento:</strong><br>
                <span data-th-text="${endereco.complemento}"></span>
            </p>
                       
            <a class="btn" href="#" data-th-href="@{/pessoas/{pessoaId}(pessoaId = ${endereco.pessoa.id})}">Voltar</a>
        </main>
        <footer data-th-replace="~{footer}"></footer>
    </body>
</html>
