<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Corcovado - Formulário Endereço</title>
        <th:block data-th-replace="~{head}" />
    </head>
    <body>
        <header data-th-replace="~{header}"></header>
        <main class="container main">
            <h1 class="h3 mt-3">Formulário de Endereço</h1>
            <div class="lead mb-2" data-th-text="${action} == 'create'? 'Criar novo Endereço' : 'Alterar Endereço'"></div>
            <form data-th-action="@{/pessoas/{pid}/enderecos/{act}(pid = ${pessoa.id},act = ${action})}" method="post" data-th-object="${endereco}">
                <input type="hidden" data-th-field="*{id}" />
                <input type="hidden" data-th-field="*{createdAt}" />
                
                <div class="form-group">
                    <label>Pessoa:</label>
                    <input class="form-control" data-th-value="${pessoa.nome}" disabled/>
                    <input type="hidden" data-th-field="*{pessoa.id}" />
                </div>
                
                <div class="form-group">
                    <label for="cep">CEP:</label>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" data-th-errorclass="is-invalid" placeholder="CEP" data-th-field="*{cep}" />
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="button" id="pesquisaCep">Buscar</button>
                        </div>
                    </div>
                    <p class="invalid-feedback" data-th-if="${#fields.hasErrors('cep')}" data-th-errors="*{cep}"></p>
                </div>

                <div class="form-group">
                    <label for="rua">Rua:</label>
                    <input type="text" class="form-control" placeholder="Rua" data-th-errorclass="is-invalid" data-th-field="*{rua}" />
                    <p class="invalid-feedback" data-th-if="${#fields.hasErrors('rua')}" data-th-errors="*{rua}"></p>
                </div>
                
                <div class="form-group">
                    <label for="numero">Número:</label>
                    <input type="text" class="form-control" placeholder="Número" data-th-errorclass="is-invalid" data-th-field="*{numero}" />
                    <p class="invalid-feedback" data-th-if="${#fields.hasErrors('numero')}" data-th-errors="*{numero}"></p>
                </div>
                
                <div class="form-group">
                    <label for="bairro">Bairro:</label>
                    <input type="text" class="form-control" placeholder="Bairro" data-th-errorclass="is-invalid" data-th-field="*{bairro}" />
                    <p class="invalid-feedback" data-th-if="${#fields.hasErrors('bairro')}" data-th-errors="*{bairro}"></p>
                </div>
                
                <div class="form-group">
                    <label for="cidade">Cidade:</label>
                    <input type="text" class="form-control" placeholder="Cidade" data-th-errorclass="is-invalid" data-th-field="*{cidade}" />
                    <p class="invalid-feedback" data-th-if="${#fields.hasErrors('cidade')}" data-th-errors="*{cidade}"></p>
                </div>
                
                <div class="form-group">
                    <label for="estado">Estado:</label>
                    <input type="text" class="form-control" placeholder="Estado" data-th-errorclass="is-invalid" data-th-field="*{estado}" />
                    <p class="invalid-feedback" data-th-if="${#fields.hasErrors('estado')}" data-th-errors="*{estado}"></p>
                </div>
                
                <div class="form-group">
                    <label for="complemento">Complemento:</label>
                    <input type="text" class="form-control" placeholder="Complemento" data-th-errorclass="is-invalid" data-th-field="*{complemento}" />
                    <p class="invalid-feedback" data-th-if="${#fields.hasErrors('complemento')}" data-th-errors="*{complemento}"></p>
                </div>

                <div class="row justify-content-between align-items-center">
                    <span class="col-12 order-last col-md-4 order-md-first" data-th-switch="${endereco.id}">
                        <a class="btn" data-th-case="0" href="#" data-th-href="@{/pessoas/{pessoaId}(pessoaId = ${endereco.pessoa.id})}">Voltar</a>
                        <a class="btn" data-th-case="*" href="#" data-th-href="@{/pessoas/{pessoaId}/enderecos/{id}(pessoaId = ${endereco.pessoa.id}, id = ${endereco.id})}">Voltar</a>
                    </span>
                    <div class="col-12 order-first col-md-4 order-md-last text-right">
                        <button class="btn btn-success" type="submit">Salvar</button>
                    </div>
                </div>
            </form>
        </main>
        <footer data-th-replace="~{footer}"></footer>
        <script src="/js/cep.js" data-th-src="@{/js/cep.js}"></script>
    </body>
</html>
