<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Corcovado - Formulário Categoria</title>
        <th:block data-th-replace="~{head}" />        
    </head>
    <body>
        <header data-th-replace="~{header}"></header>
        <main class="container main">
            <h1 class="h3 mt-3">Formulário de Categoria</h1>
            <div class="lead mb-2" data-th-text="${action} == 'create'? 'Criar novo Categoria' : 'Alterar Categoria'"></div>
            <form data-th-action="@{/categorias/{act}(act = ${action})}" method="post" data-th-object="${categoria}">
                <input type="hidden" data-th-field="*{id}" />
                <input type="hidden" data-th-field="*{createdAt}" />

                <div class="form-group">
                    <label for="nome">Nome:</label>
                    <input type="text" class="form-control" placeholder="Nome" data-th-field="*{nome}" />
                    <p class="invalid-feedback" data-th-if="${#fields.hasErrors('nome')}" data-th-errors="*{nome}"></p>
                </div>

                <div class="row justify-content-between align-items-center">
                    <span class="col-12 order-last col-md-4 order-md-first" data-th-switch="${categoria.id}">
                        <a class="btn" data-th-case="0" href="#" data-th-href="@{/categorias}">Voltar</a>
                        <a class="btn" data-th-case="*" href="#" data-th-href="@{/categorias/{id}(id = ${categoria.id})}">Voltar</a>
                    </span>
                    <div class="col-12 order-first col-md-4 order-md-last text-right">
                        <button class="btn btn-success" type="submit">Salvar</button>
                    </div>
                </div>
            </form>
        </main>
        <footer data-th-replace="~{footer}"></footer>
    </body>
</html>
