
.nav-menu:hover {
    background-color: #f7f7f9;
}

.footer {
    /*
    position: relative;
    bottom: 0;
    */
}

.bg-footer {
    background-color: #f7f7f9 !important;
}

a.bg-footer:hover, a.bg-footer:focus,
button.bg-footer:hover,
button.bg-footer:focus {
    background-color: #e3e3e4 !important;
}

.box-shadow {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15),0 .25rem .75rem rgba(0, 0, 0, .05);
}

.bg-corcovado {
    background-color: #6610f2 !important;
}
