<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Corcovado - Lista de Produtos</title>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" media="screen" href="/css/main.css" data-th-href="@{/css/main.css}" />
    </head>
    <body>
		<header>
		    <nav class="navbar navbar-expand-md navbar-dark bg-corcovado">
		        <a class="navbar-brand" data-th-href="@{/comercio}" href="#">
		            <img src="/images/corcovado.svg" data-th-src="@{/images/corcovado.svg}" width="36" height="30" class="d-inline-block align-top" alt="Logo Corcovado">
		            Corcovado
		        </a>
		        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
		            <span class="navbar-toggler-icon"></span>
		        </button>
		        <div class="collapse navbar-collapse" id="navbarsExample04">
		            <ul class="navbar-nav mr-auto">
		            </ul>
		            <ul class="navbar-nav ml-auto">
		            </ul>
		        </div>
		    </nav>
		</header>
        
        <main class="container main">
        	<div class="jumbotron mt-3">
        	   	<h1 class="display-1">ERRO! :(</h1>
        	   	<p class="lead">Esta página não está disponivel para você.</p>
       	   	</div>
        </main>
        
		<footer class="container-fluid footer bg-footer border-top mt-3 py-2 px-5">
			<div class="row justify-content-center">
				<div class="col-md-4 col-lg-3 mt-3">
					<p class="h6">Institucional</p>
					<ul class="nav flex-column">
						<li class="nav-item">
							<a class="nav-link" href="#">Institucional</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Quem Somos</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Formas de Pagamento</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Imprensa</a>
						</li>
					</ul>
				</div>
		
				<div class="col-md-4 col-lg-3 mt-3">
					<p class="h6">Ajuda</p>
					<ul class="nav flex-column">
						<li class="nav-item">
							<a class="nav-link" href="#">Perguntas Frequentes</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Política de Troca e Devolução</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Política de Privacidade</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Fale Conosco</a>
						</li>
					</ul>
				</div>
		
				<div class="col-md-4 col-lg-3 mt-3">
					<p class="h6">Cadastro</p>
					<ul class="nav flex-column">
						<li class="nav-item">
							<a class="nav-link" href="#">Meus Pedidos</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Alterar Cadastro</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Cancelar, trocar ou devolver</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Trabalhe conosco</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="mt-3">
				<p>
					Grupo Corcovado - Grupo Corcovado Comércio Eletrônico S.A. - CNPJ: 12.345.678/0001-90 - Av. Brigadeiro Luís Antônio, 3000, CEP: 01402-901 -  São Paulo/SP
				</p>
				<p>
					Copyright &COPY; 1995-2018. Grupo Corcovado. Todos os direitos reservados.
				</p>
			</div>
		</footer>
		
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
		<!-- <script src="/js/main.js" data-th-src="@{/js/main.js}"></script> -->
    </body>
</html>
