<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-corcovado">
        <a class="navbar-brand" href="#">
            <img src="/images/corcovado.svg" data-th-src="@{/images/corcovado.svg}" width="36" height="30" class="d-inline-block align-top" alt="Logo Corcovado">
            Corcovado
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarsExample04">
            <ul class="navbar-nav mr-auto">
                <!--
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Categorias </a>
                    <div class="dropdown-menu" aria-labelledby="dropdown04">
                        <!-- TODO popular departamentos dinamicamente - - >
                        <a class="dropdown-item" href="#">Alimentos</a>
                        <a class="dropdown-item" href="#">Bebidas</a>
                        <a class="dropdown-item" href="#">Carnes</a>
                        <a class="dropdown-item" href="#">Congelados</a>
                        <a class="dropdown-item" href="#">Doces</a>
                        <a class="dropdown-item" href="#">Feira</a>
                        <a class="dropdown-item" href="#">Matinais</a>
                        <a class="dropdown-item" href="#">Snacks</a>
                        <a class="dropdown-item" href="#">Pet Shop</a>
                        <a class="dropdown-item" href="#">Limpeza</a>
                        <a class="dropdown-item" href="#">Bebês</a>
                        <a class="dropdown-item" href="#">Perfumaria</a>
                    </div>
                </li>
                -->
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fas fa-shopping-cart"></i>&nbsp;Carrinho&nbsp;</a>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fas fa-user-circle"></i>&nbsp;Perfil&nbsp;&nbsp;</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdown_perfil" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-user-circle"></i>
                        &nbsp;Perfil&nbsp;&nbsp;
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdown_perfil">
                        <a class="dropdown-item" href="#" data-th-href="@{/login}" data-th-if="${!auth.authenticated}">Login</a>
                        <a class="dropdown-item" href="javascript: document.logoutForm.submit()" data-th-if="${auth.authenticated}"> Logout</a>
                    </div>
                </li>
                <li class="nav-item">
                    <form class="form-inline my-2 my-md-0">
                        <input class="form-control" type="text" placeholder="Pesquisar">
                    </form>
                </li>
            </ul>
        </div>
    </nav>
    <form name="logoutForm" method="post" data-th-action="@{/logout}" data-th-hidden="true">
        <button hidden type="submit" >Logout</button>
    </form>
</header>
