<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-corcovado">
        <a class="navbar-brand" href="#" ui-sref="list">
            <img src="/images/corcovado.svg" data-th-src="@{/images/corcovado.svg}" width="36" height="30" class="d-inline-block align-top" alt="Logo Corcovado">
            Corcovado
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarsExample04">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown" data-th-if="${auth.authenticated && #lists.contains(auth.authorities, 'ROLE_ADMIN')}" >
                    <a class="nav-link dropdown-toggle" href="#" id="dropdown_gestao" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-cog"></i> Gerenciamento
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdown_gestao">
                        <a class="dropdown-item" href="#" data-th-href="@{/produtos}">Produtos</a>
                        <a class="dropdown-item" href="#" data-th-href="@{/categorias}">Categorias</a>
                        <a class="dropdown-item" href="#" data-th-href="@{/pessoas}">Pessoas</a>
                        <a class="dropdown-item" href="#" data-th-href="@{/vendas}">Vendas</a>
                    </div>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdown_perfil" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-user-circle"></i> <span data-th-text="${auth.authenticated} ? ${auth.name} : 'Perfil'">Perfil</span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdown_perfil">
                        <a class="dropdown-item" href="#" data-th-href="@{/login}" data-th-if="${!auth.authenticated}">Login</a>
                        <a class="dropdown-item" href="#" data-th-href="@{/comercio/perfil/edit}" data-th-if="${auth.authenticated}">Editar Perfil</a>
                        <a class="dropdown-item" href="#" data-th-href="@{/comercio/enderecos}" data-th-if="${auth.authenticated}">Endereços</a>
                        <a class="dropdown-item" href="#" data-th-href="@{/comercio/compras}" data-th-if="${auth.authenticated}">Minhas Compras</a>
                        <a class="dropdown-item" href="#" data-th-href="@{/logout}" data-th-if="${auth.authenticated}">Logout</a>
                    </div> 
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" ui-sref="cart">
                        <i class="fas fa-shopping-cart"></i> Carrinho
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</header>
