<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Corcovado - Login</title>
        <th:block data-th-replace="~{head}" />
    </head>
    <body>
        <header data-th-replace="~{header}"></header>
        <main class="container main">
            <div class="alert alert-info mt-2 alert-dismissible fade show" role="alert" data-th-if="${mensagem}">
                <span data-th-text="${mensagem}">Mensagem</span>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
            </div>
            
            <div class="row justify-content-center">
                <div class="col-12 col-sm-10 col-md-8 col-lg-6">
                    <div class="shadow-sm mb-5 bg-white rounded">
                        <div class="card mt-3">
                            <div class="card-header">
                                <h1 class="h3">Login</h1>
                            </div>
                            <div class="card-body">
                                <div class="alert alert-danger alert-dismissible fade show" role="alert" data-th-if="${erro}">
                                    E-mail ou senha incorreto! Tente novamente.
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                      <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <form action="/login" method="post">
                                    <div class="form-group">
                                        <label for="email">E-mail</label>
                                        <input type="email" class="form-control" placeholder="E-mail" id="email" name="email" />
                                    </div>

                                    <div class="form-group">
                                        <label for="senha">Senha</label>
                                        <input type="text" class="form-control" placeholder="Senha" id="senha" name="senha" />
                                    </div>

                                    <div class="row justify-content-between align-items-center">
                                        <div class="col-12 order-first mb-2  col-md-4 order-md-last mb-md-2 text-md-right">
                                            <button class="btn btn-success" type="submit">Logar</button>
                                        </div>
                                        <div class="col-12 order-last col-md-4 order-md-first">
                                            <a class="btn btn-outline-secondary" href="#" data-th-href="@{/cadastro}">Cadastre-se</a>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <footer data-th-replace="~{footer}"></footer>
    </body>
</html>
