<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Corcovado - Formulário Venda</title>
        <th:block data-th-replace="~{head}" />
    </head>
    <body>
        <header data-th-replace="~{header}"></header>
        <main class="container main">
            <h1 class="h3 mt-3">Formulário de Venda</h1>
            <div class="lead mb-2" data-th-text="${action} == 'create'? 'Criar novo Venda' : 'Alterar Venda'"></div>
            <form data-th-action="@{/vendas/{act}(act = ${action})}" method="post" data-th-object="${venda}">
                <input type="hidden" data-th-field="*{id}" />
                
                <div class="form-group">
                    <label for="pessoa">Pessoa:</label>
                    <input type="text" class="form-control" id="pessoa" data-th-value="*{pessoa.nome}" disabled/>
                </div>
                
                <div class="form-group">
                    <label for="endereco">Endereço:</label>
                    <input type="text" class="form-control" id="endereco" data-th-value="*{endereco.enderecoCurto}" disabled/>
                </div>

                <div class="form-group">
                    <label for="total">Total:</label>
                    <input type="number" class="form-control" placeholder="Total" data-th-field="*{total}" data-th-errorclass="is-invalid" disabled/>
                    <p class="invalid-feedback" data-th-if="${#fields.hasErrors('total')}" data-th-errors="*{total}"></p>
                </div>

                <div class="form-group">
                    <label for="frete">Frete:</label>
                    <input type="number" class="form-control" placeholder="Frete" data-th-field="*{frete}" data-th-errorclass="is-invalid" disabled/>
                    <p class="invalid-feedback" data-th-if="${#fields.hasErrors('frete')}" data-th-errors="*{frete}"></p>
                </div>                                

                <div class="form-group">
                    <label for="status">Status:</label>
                    <select class="form-control" data-th-errorclass="is-invalid" data-th-field="*{status}">
                        <option data-th-each="status : ${statuses}" data-th-value="${status}" data-th-text="${status.nome}">Status</option>
                    </select>
                    <p class="invalid-feedback" data-th-if="${#fields.hasErrors('status')}" data-th-errors="*{status}"></p>
                </div>
                
                <div class="form-group">
                    <label for="pagamento">Forma de Pagamento:</label>
                    <select class="form-control" data-th-errorclass="is-invalid" data-th-field="*{pagamento}">
                        <option data-th-each="pagamento : ${pagamentos}" data-th-value="${pagamento}" data-th-text="${pagamento.nome}">pagamento</option>
                    </select>
                    <p class="invalid-feedback" data-th-if="${#fields.hasErrors('pagamento')}" data-th-errors="*{pagamento}"></p>
                </div>
                
                <div class="form-group">
                    <label for="comprovante">Comprovante:</label>
                    <input type="text" class="form-control" placeholder="Comprovante" data-th-field="*{comprovante}" data-th-errorclass="is-invalid"/>
                    <p class="invalid-feedback" data-th-if="${#fields.hasErrors('comprovante')}" data-th-errors="*{comprovante}"></p>
                </div>
                
                <div class="form-group">
                    <label for="codigoRastreamento">Código de Rastreamento:</label>
                    <input type="text" class="form-control" placeholder="Código de Rastreamento" data-th-field="*{codigoRastreamento}" data-th-errorclass="is-invalid"/>
                    <p class="invalid-feedback" data-th-if="${#fields.hasErrors('codigoRastreamento')}" data-th-errors="*{codigoRastreamento}"></p>
                </div>
                
                <div class="form-group">
                    <label for="prazoEntrega">Prazo de Entrega:</label>
                    <input type="date" class="form-control" placeholder="Prazo de Entrega" data-th-field="*{prazoEntrega}" data-th-errorclass="is-invalid"/>
                    <p class="invalid-feedback" data-th-if="${#fields.hasErrors('prazoEntrega')}" data-th-errors="*{prazoEntrega}"></p>
                </div>
                

                <div class="row justify-content-between align-items-center">
                    <span class="col-12 order-last col-md-4 order-md-first" data-th-switch="${venda.id}">
                        <a class="btn" data-th-case="0" href="#" data-th-href="@{/vendas}">Voltar</a>
                        <a class="btn" data-th-case="*" href="#" data-th-href="@{/vendas/{id}(id = ${venda.id})}">Voltar</a>
                    </span>
                    <div class="col-12 order-first col-md-4 order-md-last text-right">
                        <button class="btn btn-success" type="submit">Salvar</button>
                    </div>
                </div>
            </form>
        </main>
        <footer data-th-replace="~{footer}"></footer>
    </body>
</html>
