<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Corcovado - Formulário Venda</title>
        <th:block data-th-replace="~{head}" />
    </head>
    <body>
        <header data-th-replace="~{header}"></header>
        <main class="container main">
            <h1 class="h3 mt-3">Formulário de Venda</h1>
            <div class="lead mb-2" data-th-text="${action} == 'create'? 'Criar novo Venda' : 'Alterar Venda'"></div>
            <form data-th-action="@{/vendas/{act}(act = ${action})}" method="post" data-th-object="${venda}">
                <input type="hidden" data-th-field="*{id}" />
                <p class="invalid-feedback" data-th-if="${#fields.hasErrors('id')}" data-th-errors="*{id}"></p>

                
                <div class="form-group">
                    <label for="clienteId">Cliente Id:</label>
                    <input type="number" class="form-control" placeholder="Cliente Id" data-th-field="*{clienteId}" />
                    <p class="invalid-feedback" data-th-if="${#fields.hasErrors('clienteId')}" data-th-errors="*{clienteId}"></p>
                </div>
                
                <div class="form-group">
                    <label for="enderecoId">Endereço Id:</label>
                    <input type="number" class="form-control" placeholder="Endereço Id" data-th-field="*{enderecoId}" />
                    <p class="invalid-feedback" data-th-if="${#fields.hasErrors('enderecoId')}" data-th-errors="*{enderecoId}"></p>
                </div>
                
                <div class="form-group">
                    <label for="descontoId">Desconto Id:</label>
                    <input type="number" class="form-control" placeholder="Desconto Id" data-th-field="*{descontoId}" />
                    <p class="invalid-feedback" data-th-if="${#fields.hasErrors('descontoId')}" data-th-errors="*{descontoId}"></p>
                </div>
                
                <div class="form-group">
                    <label for="statusId">Status Id:</label>
                    <input type="number" class="form-control" placeholder="Status Id" data-th-field="*{statusId}" />
                    <p class="invalid-feedback" data-th-if="${#fields.hasErrors('statusId')}" data-th-errors="*{statusId}"></p>
                </div>
                
                <div class="form-group">
                    <label for="total">Total:</label>
                    <input type="number" class="form-control" placeholder="Total" data-th-field="*{total}" />
                    <p class="invalid-feedback" data-th-if="${#fields.hasErrors('total')}" data-th-errors="*{total}"></p>
                </div>
                
                <div class="form-group">
                    <label for="pagamento">Pagamento:</label>
                    <input type="text" class="form-control" placeholder="Pagamento" data-th-field="*{pagamento}" />
                    <p class="invalid-feedback" data-th-if="${#fields.hasErrors('pagamento')}" data-th-errors="*{pagamento}"></p>
                </div>
                
                <div class="form-group">
                    <label for="comprovante">Comprovante:</label>
                    <input type="text" class="form-control" placeholder="Comprovante" data-th-field="*{comprovante}" />
                    <p class="invalid-feedback" data-th-if="${#fields.hasErrors('comprovante')}" data-th-errors="*{comprovante}"></p>
                </div>
                
                <div class="form-group">
                    <label for="prazoEntrega">Prazo Entrega:</label>
                    <input type="text" class="form-control" placeholder="Prazo Entrega" data-th-field="*{prazoEntrega}" />
                    <p class="invalid-feedback" data-th-if="${#fields.hasErrors('prazoEntrega')}" data-th-errors="*{prazoEntrega}"></p>
                </div>
                
                <div class="form-group">
                    <label for="codigoRastreamento">Código Rastreamento:</label>
                    <input type="text" class="form-control" placeholder="Código Rastreamento" data-th-field="*{codigoRastreamento}" />
                    <p class="invalid-feedback" data-th-if="${#fields.hasErrors('codigoRastreamento')}" data-th-errors="*{codigoRastreamento}"></p>
                </div>
                

                <div class="row justify-content-between align-items-center">
                    <span class="col-12 order-last col-md-4 order-md-first" data-th-switch="${venda.id}">
                        <a class="btn" data-th-case="0" href="#" data-th-href="@{/vendas}">Voltar</a>
                        <a class="btn" data-th-case="*" href="#" data-th-href="@{/vendas/{id}(id = ${venda.id})}">Voltar</a>
                    </span>
                    <div class="col-12 order-first col-md-4 order-md-last text-right">
                        <button class="btn btn-success" type="submit">Salvar</button>
                    </div>
                </div>
            </form>
        </main>
        <footer data-th-replace="~{footer}"></footer>
    </body>
</html>
