<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Corcovado - Detalhes Produto</title>
        <th:block data-th-replace="~{head}" />
    </head>
    <body>
        <header data-th-replace="~{header}"></header>
        <main class="container main">
            <div class="row align-items-center justify-content-between">
                <h1 class="h2 mt-4 col-12 col-md-9" >Produto</h1>
                <div class="col-12 col-md-3 text-right">
                    <form class="d-inline-block" action="#" data-th-action="@{/produtos/{id}/destroy(id = ${produto.id})}" method="post">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                    <a href="#" data-th-href="@{/produtos/{id}/edit(id = ${produto.id})}" class="btn btn-secondary">Edit</a>
                </div>
            </div>
            
            <p class="mt-3 mb-2">
                <strong>Nome:</strong><br>
                <span data-th-text="${produto.nome}"></span>
            </p>
            
            <p class="mt-3 mb-2">
                <strong>Descrição:</strong><br>
                <span data-th-text="${produto.descricao}"></span>
            </p>
            
            <p class="mt-3 mb-2">
                <strong>Categoria:</strong><br>
                <span data-th-text="${produto.categoria.nome}"></span>
            </p>
            
            <p class="mt-3 mb-2">
                <strong>Fabricante:</strong><br>
                <span data-th-text="${produto.fabricante}"></span>
            </p>
            
            <p class="mt-3 mb-2">
                <strong>Código:</strong><br>
                <span data-th-text="${produto.codigo}"></span>
            </p>
            
            
            <p class="mt-3 mb-2">
                <strong>Estoque:</strong><br>
                <span data-th-text="${produto.estoque}"></span>
            </p>
            
            <p class="mt-3 mb-2">
                <strong>Reservado:</strong><br>
                <span data-th-text="${produto.reservado}"></span>
            </p>
            
            <p class="mt-3 mb-2">
                <strong>Preço:</strong><br>
                <span data-th-text="${#numbers.formatCurrency(produto.preco)}"></span>
            </p>
            
            <div class="mt-3 mb-2">
                <strong>Descontos:</strong><br>
                    <div class=" d-none d-lg-block ">
                        <div class="row align-items-center py-2 bg-secondary text-white">
                            <div class="col-lg"><strong>Preço</strong></div>
                            <div class="col-lg"><strong>Data de Início</strong></div>
                            <div class="col-lg"><strong>Data de Fim</strong></div>
                            <div class="col-lg-2 text-right"><strong>Ações</strong></div>
                        </div>
                    </div>

                    <div class="row align-items-center py-1" data-th-each="desconto, stat : ${produto.descontos}" data-th-classappend="${stat.odd}? 'bg-light'" >
                        <div class="col-12 col-lg"><strong class="d-lg-none">Preço: </strong><span data-th-text="${#numbers.formatCurrency(desconto.preco)}"></span></div> 
                        <div class="col-12 col-md-5 col-lg"><strong class="d-lg-none">Data de Início: </strong><span data-th-text="${#dates.format(desconto.inicio, 'dd/MM/yyyy')}"></span></div>
                        <div class="col-12 col-md-5 col-lg"><strong class="d-lg-none">Data de Fim: </strong><span data-th-text="${#dates.format(desconto.fim, 'dd/MM/yyyy')}"></span></div>
                        <div class="col-12 col-md-2 text-right">
                            <a class="btn btn-outline-info" href="#" data-th-href="@{/produtos/{produtoId}/descontos/{id}/edit(produtoId = ${produto.id}, id = ${desconto.id})}">
                                <i class="fas fa-pencil-alt"></i>
                            </a>
                            <form class="d-inline-block" method="post" action="#" data-th-action="@{/produtos/{produtoId}/descontos/{id}/destroy(produtoId = ${produto.id}, id = ${desconto.id})}">
                                <button type="submit" class="btn btn-outline-danger"><i class="far fa-trash-alt"></i></button>
                            </form>
                        </div>
                    </div>
                <a href="#" data-th-href="@{/produtos/{produtoId}/descontos/new(produtoId = ${produto.id})}" class="btn btn-outline-primary mt-2"><i class="fas fa-plus"></i> Descontos</a>
            </div>
            
            
            <a class="btn" href="#" data-th-href="@{/produtos}">Voltar</a>
        </main>
        <footer data-th-replace="~{footer}"></footer>
    </body>
</html>
