<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Corcovado - Perguntas Frequentes</title>
        <th:block data-th-replace="~{head}" />        
    </head>
    <body>
        <header data-th-replace="~{header}"></header>
        <main class="container main">
            <h1 class="h2">Perguntas Frequentes</h1>
            <h2>Minha entrega está atrasada. O que faço?</h2>
            <p>O atraso de entrega de uma compra pode acontecer por vários motivos. É importante conferir todas as situações possíveis para identificar o motivo dessa falha.
               Confira, primeiramente, se a sua possível data de entrega já expirou.
               Verifique o endereço de entrega informado, para avaliar possíveis falhas de comunicação.
               Veja se seu pagamento foi aprovado. O prazo de aprovação de pagamento pode variar de acordo com a forma escolhida.
               Verifique o status de pedido para entender em qual etapa se encontra a sua compra.
               Confira se alguém recebeu ou recusou o recebimento da compra que foi entregue. Verifique se o pedido não se encontra na sua portaria (no caso de entrega em apartamentos) ou se alguém foi comunicado da entrega e se recusou a recebê-la.</p>
        </main>
        <footer data-th-replace="~{footer}"></footer>
    </body>
</html>
