<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Corcovado - Atendimentos</title>
        <th:block data-th-replace="~{head}" />        
    </head>
    <body>
        <header data-th-replace="~{header}"></header>
        <main class="container main">
            <h1 class="h2">Institucional</h1>
            <h2>Missão</h2>
            <p>Conecatar as pessoas a uma vida com mais facilidade e simplicidade.</p>
            <h2>Visão</h2>
            <p>Ser referência global em experiência de compra online.</p>
            <h2>Valores</h2>
            <p>Inovação.
            Foco no Resultado.
            Valorização das Pessoas.
            Agilidade.
            Simplicidade.</p>
        </main>
        <footer data-th-replace="~{footer}"></footer>
    </body>
</html>
