<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Corcovado - Política de Privacidade</title>
        <th:block data-th-replace="~{head}" />        
    </head>
    <body>
        <header data-th-replace="~{header}"></header>
        <main class="container main">
            <h1 class="h2">Política de Privacidade</h1>
            <p>Tendo em vista o compromisso assumido pela Prestadora em buscar qualidade e segurança em todas as operações realizadas por meio do Portal, desenvolvemos cuidadosamente os presentes Termos e Condições de Uso
                ("Termos") para que você (doravante "Usuário") tenha conhecimento das condições gerais de uso deste.</p>
        </main>
        <footer data-th-replace="~{footer}"></footer>
    </body>
</html>
