<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Corcovado - Política de trocas e devoluções</title>
        <th:block data-th-replace="~{head}" />        
    </head>
    <body>
        <header data-th-replace="~{header}"></header>
        <main class="container main">
            <h1 class="h2">Política de trocas e devoluções</h1>
            <h2>Formas e taxas de entrega válidas para compras de alimentos, bebidas e produtos de cuidados pessoais e para casa.</h2>
            <h3>Garantir a sua satisfação ao comprar no Mercado Corcovado com é nossa missão.
                Por isso, criamos uma política de Troca e Devolução de mercadorias.
                Assim, caso você não fique satisfeito com sua compra, poderá trocar ou devolver o produto adquirido.</h3>
            <h2>TROCA/DEVOLUÇÃO:</h2>
            <p>O cliente poderá trocar mercadoria não perecível no prazo de 7 dias contados da data de recebimento das mercadorias,
                desde que esteja em desacordo com as especificações constantes do pedido ou apresentando vício de qualidade ou quantidade.</p>
            <p>Dado ao curto prazo de validade dos produtos perecíveis, tais como carnes, frutas, verduras, pães, frios, entre outros,
                caso haja divergência com o pedido ou vício, solicitamos que os pedidos de troca sejam comunicados dentro do prazo de 24 horas</p>
            <h2>PROCEDIMENTOS PARA TROCA E DEVOLUÇÃO:</h2>
            <p>Para realizar a troca ou devolução de produtos, o cliente deverá enviar os dados abaixo através do Fale Conosco.</p>
        </main>
        <footer data-th-replace="~{footer}"></footer>
    </body>
</html>
